.innerPage {
  width: 100%;
}

.innerPage--intro {
  background-size: cover;
  height: 100%;
  background-image: url("../img/fondo1.png");
}

.innerPage--page3 {
  height: 100%;
  background-size: cover;
  background-image: url("../img/henriettaFondo1.png");
}

.innerPage--page4 {
  height: 100%;
  background-size: cover;
  background-image: url("../img/fondoInteract1.jpg");
}

.innerPage--page5 {
  height: 100%;
  background-size: cover;
  background-image: url("../img/fondoInteract2.jpg");
}

.innerPage--page6 {
  height: 100%;
  background-size: cover;
  background-image: url("../img/fondo8.png");
}

.innerPage--page7 {
  height: 100%;
  background-size: cover;
  background-image: url("../img/fondoAnnie.png");
}

.innerPage--page8 {
  height: 100%;
  background-size: cover;
  background-image: url("../img/fondoInteract3.jpg");
}

.innerPage--page9 {
  height: 100%;
  background-size: cover;
  background-image: url("../img/fondoInteract4.jpg");
}

.innerPage--page10 {
  height: 100%;
  background-size: cover;
  background-image: url("../img/fondo8.png");
}

.innerPage--page11 {
  height: 100%;
  background-size: cover;
  background-image: url("../img/fondo9.png");
}

.text {
  width: 85%;
  padding-left: 15px;
  font-family: EB Garamond;
  font-style: normal;
  font-weight: normal;
  font-size: 1.07vw;
  line-height: 160%;
}

.text__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
  margin-top: 20px;
}

.text__henrietta {
  width: 64%;
  padding: 0% 2%;
}

.text__interaction1 {
  width: 94%;
  margin-left: 15px;
  padding-top: 30px;
}

.text__annie1 {
  width: 57%;
}

.text__annie2 {
  width: 55%;
  margin-left: 168px;
  margin-top: 5px;
}

.text__interaction2 {
  margin-left: 20px;
}

.text__interaction3 {
  padding-top: 105px;
  width: 70%;
}

.text__diana {
  width: 80%;
  top: 100px;
  right: 50px;
  position: absolute;
}

.text__diana2 {
  width: 50%;
  right: 20px;
  bottom: 30px;
  position: absolute;
}

.text__cursor {
  font-size: 13px;
  font-weight: bold;
}

.minitext {
  width: 95%;
  padding: 0% 5%;
  margin-left: 25px;
  font-size: 13.5px;
}

.titles {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0% 10%;
  font-family: "Motteka";
  text-align: center;
  padding-top: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 100%;
}

.titles__interaction2 {
  font-size: 32px;
}

.textImageCont {
  margin-top: 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.estrellasColores {
  width: 40%;
  margin-left: 16px;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.avatar {
  width: 150px;
  height: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  -webkit-transform: translatey(0px);
          transform: translatey(0px);
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
  position: relative;
  z-index: 6;
}

.avatar img {
  width: 100%;
  height: auto;
}

.avatar__planets {
  width: 433px;
  height: 624px;
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
}

.avatar__planeta1 {
  top: 45px;
  left: 25px;
}

.avatar__planeta2 {
  bottom: 30px;
  left: 260px;
}

.animation {
  opacity: 1;
  -webkit-animation: opacity 1s ease-in-out infinite;
          animation: opacity 1s ease-in-out infinite;
}

.estrella__1 {
  top: 20px;
  right: 30px;
  position: absolute;
}

.estrella__1U {
  top: 20px;
  left: 70px;
  position: absolute;
}

.estrella__2 {
  top: 90px;
  right: 100px;
  position: absolute;
}

.estrella__3 {
  bottom: 150px;
  right: 0px;
  position: absolute;
}

.estrella__4 {
  left: 25px;
  top: 180px;
  position: absolute;
}

.estrella__5 {
  -webkit-transform: translateX(180px);
          transform: translateX(180px);
  position: absolute;
}

.estrella__6 {
  bottom: 0px;
  left: 30px;
  position: absolute;
}

.estrellaColor__s1AA {
  bottom: 90px;
  left: -5px;
  position: absolute;
}

.estrellaColor__s2N {
  bottom: 0px;
  right: 25px;
  position: absolute;
}

.estrellaColor__s4A {
  bottom: 200px;
  left: 14px;
  position: absolute;
}

.estrellaColor__s3R {
  bottom: 50px;
  left: 100px;
  position: absolute;
}

.estrellaColor__s7A {
  bottom: 150px;
  right: 50px;
  position: absolute;
}

.estrellaColor__s6A {
  top: 180px;
  right: 120px;
  position: absolute;
}

.estrellaColor__s5A {
  top: 70px;
  right: 20px;
  position: absolute;
}

.diana {
  bottom: 0px;
  left: 0px;
  position: absolute;
}

.button {
  background-color: #261247;
  color: white;
  border: none;
  border-radius: 10px;
  height: 40px;
  margin-top: 20px;
}

.button--option {
  width: 70px;
  font-size: 18px;
}

.button--interaccion1 {
  margin-left: auto;
  margin-right: auto;
}

.button:hover {
  background-color: #502e89;
  color: white;
}

.interaccion__resultado {
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.keyImg {
  width: 53px;
  height: 53px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.organization {
  width: 389px;
  height: 525px;
  margin-top: 20px;
}
/*# sourceMappingURL=general.css.map */